<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/Shared/_Layout.css">
    <link rel="sortcut icon" href="~/Images/InkWebLogo.png" type="image/x-icon" />
    @RenderSection("style", false)
</head>
<body>
    <header id="header">
        <h1>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/InkWebLogo.png" alt="Logo">
                <span class="InkAzul">Ink</span>Web
            </a>
        </h1>
        <div>
            <div>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(@User.Identity.Name + " - Sair", "Logout", "Account");
                }
                else
                {
                    @Html.ActionLink("Login/Cadastro", "Login", "Account");
                }
            </div>
            <img id="dropDown" src="~/Images/MenuSandwich.png" alt="Logo">
            <nav id="myMenu">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#section_Portifolio">PORTIFÓLIO</a></li>
                    <li><a href="#section_Studio">O STUDIO</a></li>
                    <li><a href="#footer">CONTATO</a></li>
                    <li><a href="@Url.Action("PedidosPendentes","Cliente")">Gerenciar Pedidos</a></li>
                    <li><a href="@Url.Action("GerenciarClientes","Admin")">Gerenciar Clientes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div>
            <h4>Contato</h4>
            <div>
                <img src="~/Images/fig_Loc.png" alt="End.">
                <p>Rua Despartista Jeremias 270 - Ponta Negra</p>
            </div>
            <div>
                <img src="~/Images/fig_Whats.png" alt="num">
                <p>(84) 99679-2926</p>
            </div>
        </div>
        <div class="divFlor">
            <img class="logoFooter" src="~/Images/FlorGrande.png" alt="Logo">
        </div>
        <div>
            <h4>Redes sociais</h4>
            <div>
                <img src="~/Images/fig_Insta.png" alt="Rd">
                <img src="~/Images/fig_Face.png" alt="Rd">
            </div>
        </div>
    </footer>
    <script>

    </script>
</body>
</html>
<script src="~/Scripts/_Layout.js"></script>