@model Application.Models.LoginViewModel

@{
    ViewBag.Title = "InkWeb - Nova Conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="form_head">
            <h2>Log in</h2>
        </section>
        <section class="form_body">
            @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
            {
                @Html.ValidationSummary(false, "Verifique os seguintes erros:")
            }
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username, "")
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Senha)
                <div>
                    @Html.PasswordFor(model => model.Senha)
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            </div>
            <div class="divAncora">
                @Html.ActionLink("Criar nova conta", "NewAccount")
            </div>
        </section>
        <section class="form_foot">
            <input type="submit" value="Entrar" />
        </section>
    }
</main>

@section style{ <link href="~/Styles/Account/Login.css" rel="stylesheet" type="text/css" /> }