@model Models.Gerenciamento.MUsuario
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h3>Meu Perfil</h3>
    <nav>
        <ul>
            @{ string[] userInfo = User.Identity.Name.Split(';'); }
            @if (userInfo[2] == "1")
            {
                <li><a href="@Url.Action("Details", "Usuario", new { Area = "Gerenciamento", id = Model.ID }, null)">MEUS DADOS</a></li>
                <li><a href="@Url.Action("PedidosPendentes", "Admin", new { Area = "Gerenciamento", id = Model.ID }, null)">PEDIDOS PENDENTES</a></li>
                <li><a href="@Url.Action("PedidosConfirmados", "Admin", new { Area = "Gerenciamento", id = Model.ID }, null)">PEDIDOS CONFIRMADOS</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Details", "Usuario", new { Area = "Gerenciamento", id = Model.ID }, null)">MEUS DADOS</a></li>
                <li><a href="@Url.Action("PedidosPendentes", "Cliente", new { Area = "Gerenciamento", id = Model.ID }, null)">PEDIDOS PENDENTES</a></li>
                <li><a href="@Url.Action("PedidosConfirmados", "Cliente", new { Area = "Gerenciamento", id = Model.ID }, null)">PEDIDOS CONFIRMADOS</a></li>
            }
        </ul>
    </nav>
    <section class="form_head">
        <h3>Detalhes da conta</h3>
    </section>
    <section class="form_body">
        <h4>Dados pessoais</h4>

        <div>
            @Html.LabelFor(model => model.Nome)
            <p>
                @Html.DisplayFor(model => model.Nome)
            </p>
        </div>

        <div>
            @Html.LabelFor(model => model.Email)
            <p>
                @Html.DisplayFor(model => model.Email)
            </p>
        </div>

        <div>
            @Html.LabelFor(model => model.Numero_Tell)
            <p>
                @Html.DisplayFor(model => model.Numero_Tell)
            </p>
        </div>

        <div>
            @Html.LabelFor(model => model.Instagram)
            <p>
                @Html.DisplayFor(model => model.Instagram)
            </p>
        </div>

        <div>
            @Html.LabelFor(model => model.Data_Nascimento)
            <p>
                @Html.DisplayFor(model => model.Data_Nascimento)
            </p>
        </div>

        <div>
            @Html.LabelFor(model => model.Sexo)
            <p>
                @Html.DisplayFor(model => model.Sexo)
            </p>
        </div>
    </section>
    <section class="form_foot">
        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#deleteConfirmationModal">Excluir perfil</a>
        @Html.ActionLink("Editar perfil", "Edit", "Usuario", new { Area = "Gerenciamento", id = Model.ID }, null)
    </section>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Confirmação de exclusão de PERFIL
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Você está prestes a remover o usuario @Model.Username do cadastro.
                    </p>
                    <p>
                        <strong>
                            Você está certo que deseja prosseguir?
                        </strong>
                    </p>
                    @using (Html.BeginForm("Delete", "Usuario", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.ID)
                        @Html.AntiForgeryToken()
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="$('#delete-form').submit();">
                        Sim, exclua este produto.
                    </button>
                    <button class="btn btn-primary" data-dismiss="modal">
                        Não, não exclua este produto.
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-2.2.4.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</main>

@section style{
    <link href="~/Styles/Usuario/Details.less" rel="stylesheet" type="text/css" /> }