@model Models.Gerenciamento.MUsuario
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <nav>
        <ul>
            <li><a href="@Url.Action("Details", "Usuario", new { Area = "Gerenciamento" }, null)">MEUS DADOS</a></li>
            <li><a href="@Url.Action("PedidosPendentes", "Service", new { Area = "Tattoo" }, null)">PEDIDOS PENDENTES</a></li>
            <li><a href="@Url.Action("PedidosConfirmados", "Service", new { Area = "Tattoo" }, null)">PEDIDOS CONFIRMADOS</a></li>
        </ul>
    </nav>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="form_head">
            <h3>Editar dados da conta</h3>
        </section>
        <section class="form_body">
            <h4>Dados pessoais</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Nome" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "E-mail" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Numero_Tell, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Numero_Tell, new { htmlAttributes = new { @placeholder = "Whatsapp/Telefone" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Instagram, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Instagram, new { htmlAttributes = new { @placeholder = "Instagram (Opcional)" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Data_Nascimento, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Data_Nascimento, new { htmlAttributes = new { @placeholder = "Data de nascimento" } })
            </div>

            <div>
                @Html.ValidationMessageFor(model => model.Senha, "")
                @Html.PasswordFor(model => model.Senha, htmlAttributes: new { @placeholder = "Senha" })
            </div>

            <div class="genero">
                <p>Gênero</p>
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                <div>
                    @{
                        string[] s = new[] { "Masculino", "Feminino", "Outro" };
                    }
                    @foreach (var item in s)
                    {
                        <div>
                            @Html.RadioButtonFor(model => model.Sexo, item)
                            <label for="@item">@item</label>
                        </div>
                    }
                </div>
            </div>
        </section>
        <section class="form_foot">
            @Html.ActionLink("Voltar", "Details", "Usuario", new { Area = "Gerenciamento", id = Model.ID }, null)
            <input type="submit" value="Confirmar" class="button" />
        </section>
    }
</main>

@section style{
    <link href="~/Styles/Usuario/Edit.less" rel="stylesheet" type="text/css" /> }