@model IEnumerable<Models.Tattoo.MServico>
@{
    ViewBag.Title = "Pedidos Pendentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h3>Gerenciar Pedidos</h3>
    <nav>
        <ul>
            <li><a href="@Url.Action("PedidosPendentes","Cliente")">PEDIDOS PENDENTES</a></li>
            <li><a href="@Url.Action("PedidosConfirmados","Cliente")">PEDIDOS CONFIRMADOS</a></li>
        </ul>
    </nav>
    <section class="section_Home">
        @foreach (var item in Model)
        {
            <section onclick="Redirect(@item.ID)" class="card">
                <img src="~/Images/FotoPerfil.png" alt="foto do perfil">
                <!--<p class="pNome">Html.DisplayFor(nome => item.Nome)</p>-->
                <p>@Html.DisplayFor(email => item.Data_servico)</p>
                <div>
                    <a href="@Url.Action("Agendamento", "Home", new { id = item.ID })">
                        <img src="~/Images/ImagemEditar.png" alt="Imagem editar">
                    </a>
                    <a href="@Url.Action("Delete", "Cliente", new { id = item.ID })">
                        <img src="~/Images/ImagemDeletar.png" alt="Imagem deletar">
                    </a>
                </div>
            </section>
        }
        <section>
            <a href="@Url.Action("Agendamento", "Home")">
                <img src="~/Images/ImageCreate.png" alt="foto do perfil">
            </a>
        </section>
    </section>
</main>
<script>
    function Redirect(id)
    {
        window.location.href = '@Url.Action("Details", "Cliente")/' + id;
    }
</script>
@section style{ <link href="~/Styles/Cliente/Pedidos.css" rel="stylesheet" type="text/css" /> }